<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="pop()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Title Only</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="updateAddress()">
        儲存
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label color="primary" position="stacked">收貸人</ion-label>
      <ion-input type="text" [(ngModel)]="address_detail.company" name="company"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">地域</ion-label>
      <ionic-selectable item-content [(ngModel)]="address_detail.address_option" [items]="address_list" itemValueField="district_id"
        itemTextField="header_address" [canSearch]="true" (onChange)="portChange($event)">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">村</ion-label>
      <ion-input type="text" [(ngModel)]="address_detail.estate" name="estate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">大廈</ion-label>
      <ion-input type="text" [(ngModel)]="address_detail.building" name="building"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">室</ion-label>
      <ion-input type="text" [(ngModel)]="address_detail.room" name="room"></ion-input>
    </ion-item>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button color="danger" expand="full" (click)="delete_address(address_detail.id)">刪除</ion-button>
</ion-footer>