<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="pop()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="product-detail-page">
  <div class="product-tags-top">
    <div class="product-tag-new">New</div>
  </div>

  <ion-card style="padding:0px;">
    <ion-card-content>
      <ion-slides class="product-slides" pager="true" [options]="sliderConfig">
        <ion-slide *ngIf="product!=null">
          <img src="{{config.img_url+product.image}}" (click)="zoomImage(config.img_url+product.image)">
        </ion-slide>
        <ion-slide *ngFor="let image of product.images" (click)="zoomImage(config.img_url+image.image)">
          <div>
            <img src="{{config.img_url+image.image}}">
          </div>
        </ion-slide>
      </ion-slides>
      <ion-text color="dark" [innerHTML]="product.name"></ion-text>
      <ion-text [innerHTML]="product.description"></ion-text>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-card style="background-color: #f5f6f9" *ngFor=" let att of product.attribute">
      <ion-item button>
        <ion-thumbnail slot="start" style="padding: 10px;">
          <img src="{{config.img_url+att.image}}">
        </ion-thumbnail>
        <ion-label>{{att.product_attribute_name}}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer class="product-detail-footer">
  <ion-button (click)="presentModal(product.attribute)">
    加入購物車
    <ion-icon mode="ios" name="arrow-forward"></ion-icon>
  </ion-button>
</ion-footer>