<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>主頁</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-badge  color="accent">{{cart_count}}</ion-badge>
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>購物車</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>個人資料</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>