<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="light" (click)="pop()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>訂單記錄</ion-title>
    </ion-toolbar>
    <ion-segment scrollable scrollbar="true" [(ngModel)]="target" color="warning" (ionChange)="segmentChanged()">
      <ion-segment-button value="pending">
        <ion-label>待發貨</ion-label>
      </ion-segment-button>
      <ion-segment-button value="complete">
        <ion-label>運送中</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cancel">
        <ion-label>已收貸</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-header>
  
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" [options]="slideOpts">
    <!-- pending  -->
    <ion-slide>
      <ion-list style="height: 100%;width: 100%;">
        <ion-content>
          <ion-card *ngFor="let pending_order of pending_orders; let i = index">
            <ion-card-content>
              <ion-row class="row-product">
                <ion-col>
                  <h3 style="text-align: left;">訂單編號:#{{pending_order?.order_id}}
                    <!-- <br>
                    <small style="background-color: cornsilk;">{{pending_order?.product_name}}</small>
                    <br>
                    <small>購買日期&nbsp;:&nbsp; {{pending_order?.date_purchased}}</small> -->
                  </h3>
                </ion-col>
              </ion-row>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img *ngIf="pending_order?.image" src="{{this.config.img_url + pending_order?.image}}">
                </ion-thumbnail>
                <ion-label>
                  <ion-row>
                    <ion-col class="ion-text-left" size="6">Price&nbsp;:&nbsp;</ion-col>
                    <ion-col class="ion-text-right" size="6">{{pending_order?.product_price}}</ion-col>
                  </ion-row>
  
                  <ion-row>
                    <ion-col class="ion-text-left" size="6">Quantity&nbsp;:&nbsp;</ion-col>
                    <ion-col class="ion-text-right" size="6">{{pending_order?.product_quantity}}</ion-col>
                  </ion-row>
  
                  <ion-row>
                    <ion-col class="ion-text-left" size="6">
                      <strong>Total</strong>&nbsp;:&nbsp;</ion-col>
                    <ion-col class="ion-text-right" size="6">
                      <strong>{{pending_order?.final_price}}</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-left" size="6">狀態&nbsp;:&nbsp;</ion-col>
                    <ion-col class="ion-text-right" *ngIf="pending_order?.order_product_status == 'pending' " size="6">
                      <span style="color: #f84e4e;">待發貨</span></ion-col>
                    <ion-col class="ion-text-right" *ngIf="pending_order?.order_product_status == 'complete' " size="6">
                      <span style="color: #f9961e;">運送中</span></ion-col>
                    <ion-col class="ion-text-right" *ngIf="pending_order?.order_product_status == 'cancel' " size="6">
                      <span style="color: #6ab0f1;">已收貸</span></ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-col class="ion-text-left" size="6">備註:</ion-col>
                <ion-col class="ion-text-right" size="6">{{pending_order?.customer_remark}}</ion-col>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ion-list>
    </ion-slide>
    <!-- complete -->
    <ion-slide>
      <ion-list style="height: 100%;width: 100%;">
        <ion-content>
          <ion-card *ngFor="let complete_order of complete_orders; let i = index">
            <ion-card-content>
              <ion-row class="row-product">
                <ion-col>
                  <h3 style="text-align: left;">{{complete_order?.product_attribute_name}}
                    <br>
                    <small style="background-color: cornsilk;">{{complete_order?.product_name}}</small>
                    <br>
                    <small>購買日期&nbsp;:&nbsp; {{complete_order?.date_purchased}}</small>
                  </h3>
                </ion-col>
              </ion-row>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img *ngIf="complete_order?.image" src="{{this.config.img_url + complete_order?.image}}">
                </ion-thumbnail>
                <ion-label>
                  <ion-row>
                    <ion-col class="ion-text-left" size="6">Price&nbsp;:&nbsp;</ion-col>
                    <ion-col class="ion-text-right" size="6">{{complete_order?.product_price}}</ion-col>
                  </ion-row>
  
                  <ion-row>
                    <ion-col class="ion-text-left" size="6">Quantity&nbsp;:&nbsp;</ion-col>
                    <ion-col class="ion-text-right" size="6">{{complete_order?.product_quantity}}</ion-col>
                  </ion-row>
  
                  <ion-row>
                    <ion-col class="ion-text-left" size="6">
                      <strong>Total</strong>&nbsp;:&nbsp;</ion-col>
                    <ion-col class="ion-text-right" size="6">
                      <strong>{{complete_order?.final_price}}</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-left" size="6">狀態&nbsp;:&nbsp;</ion-col>
                    <ion-col class="ion-text-right" *ngIf="complete_order?.order_product_status == 'pending' " size="6">
                      <span style="color: #f84e4e;">待發貨</span></ion-col>
                    <ion-col class="ion-text-right" *ngIf="complete_order?.order_product_status == 'complete' "
                      size="6"><span style="color: #f9961e;">運送中</span></ion-col>
                    <ion-col class="ion-text-right" *ngIf="complete_order?.order_product_status == 'cancel' " size="6">
                      <span style="color: #6ab0f1;">已收貸</span></ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-col class="ion-text-left" size="6">備註:</ion-col>
                <ion-col class="ion-text-right" size="6">{{complete_order?.customer_remark}}</ion-col>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ion-list>
    </ion-slide>
    <!-- cancel -->
    <ion-slide>
      <ion-slide>
        <ion-list style="height: 100%;width: 100%;">
          <ion-content>
            <ion-card *ngFor="let cancel_order of cancel_orders; let i = index">
              <ion-card-content>
                <ion-row class="row-product">
                  <ion-col>
                    <h3 style="text-align: left;">{{cancel_order?.product_attribute_name}}
                      <br>
                      <small style="background-color: cornsilk;">{{cancel_order?.product_name}}</small>
                      <br>
                      <small>購買日期&nbsp;:&nbsp; {{cancel_order?.date_purchased}}</small>
                    </h3>
                  </ion-col>
                </ion-row>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <img *ngIf="cancel_order?.image" src="{{this.config.img_url + cancel_order?.image}}">
                  </ion-thumbnail>
                  <ion-label>
                    <ion-row>
                      <ion-col class="ion-text-left" size="6">購買日期&nbsp;:&nbsp;</ion-col>
                      <ion-col class="ion-text-right" size="6">{{cancel_order?.date_purchased}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-text-left" size="6">Price&nbsp;:&nbsp;</ion-col>
                      <ion-col class="ion-text-right" size="6">{{cancel_order?.product_price}}</ion-col>
                    </ion-row>
  
                    <ion-row>
                      <ion-col class="ion-text-left" size="6">Quantity&nbsp;:&nbsp;</ion-col>
                      <ion-col class="ion-text-right" size="6">{{cancel_order?.product_quantity}}</ion-col>
                    </ion-row>
  
                    <ion-row>
                      <ion-col class="ion-text-left" size="6">
                        <strong>Total</strong>&nbsp;:&nbsp;</ion-col>
                      <ion-col class="ion-text-right" size="6">
                        <strong>{{cancel_order?.final_price}}</strong>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-text-left" size="6">狀態&nbsp;:&nbsp;</ion-col>
                      <ion-col class="ion-text-right" *ngIf="cancel_order?.order_product_status == 'pending' " size="6">
                        <span style="color: #f84e4e;">待發貨</span></ion-col>
                      <ion-col class="ion-text-right" *ngIf="cancel_order?.order_product_status == 'complete' "
                        size="6"><span style="color: #f9961e;">運送中</span></ion-col>
                      <ion-col class="ion-text-right" *ngIf="cancel_order?.order_product_status == 'cancel' "
                        size="6"><span style="color: #6ab0f1;">已收貸</span></ion-col>
                    </ion-row>
                  </ion-label>
                </ion-item>
                <ion-item lines="full">
                  <ion-col class="ion-text-left" size="6">備註:</ion-col>
                  <ion-col class="ion-text-right" size="6">{{cancel_order?.customer_remark}}</ion-col>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-content>
        </ion-list>
      </ion-slide>
    </ion-slide>
  </ion-slides>