<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="pop()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>訂單記錄</ion-title>
  </ion-toolbar>
  <ion-segment scrollable scrollbar="true" [(ngModel)]="target" color="warning" (ionChange)="segmentChanged()">
    <ion-segment-button value="pending">
      <ion-label>處理中</ion-label>
    </ion-segment-button>
    <ion-segment-button value="complete">
      <ion-label>己處理</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cancel">
      <ion-label>己取消</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-slides #slides (ionSlideDidChange)="slideChanged()" [options]="slideOpts">
  <!-- pending  -->
  <ion-slide>
    <ion-list style="height: 100%;width: 100%;">
      <ion-content>
        <ion-card *ngFor="let order of pending_orders; let i = index" (click)="go_orderDetailPage(order);">
          <ion-card-content>
            <ion-row class="row-product">
              <ion-col>
                <h3 style="text-align: left;font-weight: bold;">訂單編號:#{{order?.order_id}}</h3>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label>
                <ion-row>
                  <ion-col class="ion-text-left" size="6">訂單狀態&nbsp;:&nbsp;</ion-col>
                  <ion-col class="ion-text-right" size="6">
                    <span *ngIf="order?.order_status == 'pending' " style="color: #f9961e;">處理中</span>
                    <span *ngIf="order?.order_status == 'complete' " style="color: #6ab0f1;">己完成</span>
                    <span *ngIf="order?.order_status == 'cancel' " style="color: #f84e4e;">己取消</span>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-left" size="6">付款方式&nbsp;:&nbsp;</ion-col>
                  <ion-col class="ion-text-right" size="6">{{order?.payment_method_name}}</ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-left" size="6">訂單日期&nbsp;:&nbsp;</ion-col>
                  <ion-col class="ion-text-right" size="6">{{order?.date_purchased}}</ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-col class="ion-text-left" size="6">合共:</ion-col>
              <ion-col class="ion-text-right" size="6">$ {{order?.order_price}}</ion-col>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-list>
  </ion-slide>
  <!-- complete -->
  <ion-slide>
    <ion-list style="height: 100%;width: 100%;">
      <ion-content>
        <ion-card *ngFor="let order of complete_orders; let i = index" (click)="go_orderDetailPage(order);">
          <ion-card-content>
            <ion-row class="row-product">
              <ion-col>
                <h3 style="text-align: left;font-weight: bold;">訂單編號:#{{order?.order_id}}</h3>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label>
                <ion-row>
                  <ion-col class="ion-text-left" size="6">訂單狀態&nbsp;:&nbsp;</ion-col>
                  <ion-col class="ion-text-right" size="6">
                    <span *ngIf="order?.order_status == 'pending' " style="color: #f9961e;">處理中</span>
                    <span *ngIf="order?.order_status == 'complete' " style="color: #6ab0f1;">己完成</span>
                    <span *ngIf="order?.order_status == 'cancel' " style="color: #f84e4e;">己取消</span>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-left" size="6">付款方式&nbsp;:&nbsp;</ion-col>
                  <ion-col class="ion-text-right" size="6">{{order?.payment_method_name}}</ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-left" size="6">訂單日期&nbsp;:&nbsp;</ion-col>
                  <ion-col class="ion-text-right" size="6">{{order?.date_purchased}}</ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-col class="ion-text-left" size="6">合共:</ion-col>
              <ion-col class="ion-text-right" size="6">$ {{order?.order_price}}</ion-col>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-list>
  </ion-slide>
  <!-- cancel -->
  <ion-slide>
    <ion-list style="height: 100%;width: 100%;">
      <ion-content>
        <ion-card *ngFor="let order of cancel_orders; let i = index" (click)="go_orderDetailPage(order);">
          <ion-card-content>
            <ion-row class="row-product">
              <ion-col>
                <h3 style="text-align: left;font-weight: bold;">訂單編號:#{{order?.order_id}}</h3>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label>
                <ion-row>
                  <ion-col class="ion-text-left" size="6">訂單狀態&nbsp;:&nbsp;</ion-col>
                  <ion-col class="ion-text-right" size="6">
                    <span *ngIf="order?.order_status == 'pending' " style="color: #f9961e;">處理中</span>
                    <span *ngIf="order?.order_status == 'complete' " style="color: #6ab0f1;">己完成</span>
                    <span *ngIf="order?.order_status == 'cancel' " style="color: #f84e4e;">己取消</span>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-left" size="6">付款方式&nbsp;:&nbsp;</ion-col>
                  <ion-col class="ion-text-right" size="6">{{order?.payment_method_name}}</ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-left" size="6">訂單日期&nbsp;:&nbsp;</ion-col>
                  <ion-col class="ion-text-right" size="6">{{order?.date_purchased}}</ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-col class="ion-text-left" size="6">合共:</ion-col>
              <ion-col class="ion-text-right" size="6">$ {{order?.order_price}}</ion-col>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-list>
  </ion-slide>
</ion-slides>