

<app-category-tab id="categoryTab" (tabClick)="onCategoryTabClickEmitted($event)" ></app-category-tab>

<ion-content (ionScrollStart)="scrollStart()" (ionScroll)="onContentScroll($event)"  (ionScrollEnd)="scrollComplete($event)" scrollEvents="true" >
    <ion-grid *ngIf="productView=='grid'" >
      <ion-row >
        <ion-col *ngFor="let p of products" size="6">
          <app-product [data]="p" [type]="'normal'"></app-product>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
