<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="pop()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>我的收貸地址</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        添加迎新地址
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-list>
    <ion-item button *ngFor="let address of customer_address" (click)="select_address(address)">
      <ion-label style="padding: 0px; margin: 0px;" color="primary" position="stacked">{{address.company}}
        <span *ngIf="address.is_default == 'yes'" style="color: #f84e4e;">預設</span>
      </ion-label>
      <ion-label style="margin-bottom:5px;" color="primary" position="stacked">{{address.phone}}</ion-label>
      <!-- <div>{{address.phone}}</div> -->
      <ion-thumbnail slot="start">
        <ion-img src="./assets/images/home.png"></ion-img>
      </ion-thumbnail>
      <ion-input readonly>{{address.address_ch}}</ion-input>
    </ion-item>
  </ion-list>

</ion-content>