<div class="thumnails">
  <div class="list-thumbnail">
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
  </div>
  <div class="list-thumbnail">
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
    <div class="img-thumb">
      <img src="./assets/images/header_logo.png">
    </div>
  </div>
</div>


<!-- <div scrollY="true" id="myFixZone">
  <ion-list>
    <ion-item>
      <div class="card card-1">
        <img src="./assets/images/header_logo.png">
        <p style="font-size: 9px;">A1</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="card card-1">
        <img src="./assets/images/header_logo.png">
        <p style="font-size: 9px;">A1</p>
      </div>
    </ion-item>
  </ion-list>
</div> -->