<ion-card>
  <ion-list class="tab-list" style="text-align:center;">
    <div class="list-thumbnail">
      <ion-tab-button class="img-thumb">
        <ion-avatar>
          <img src="./assets/images/header_logo.png">
        </ion-avatar>
        <ion-label style="color: #FFF;">Schedule</ion-label>
      </ion-tab-button>
      <ion-tab-button class="img-thumb">
        <ion-avatar>
          <img src="./assets/images/header_logo.png">
        </ion-avatar>
        <ion-label style="color: #FFF;">Schedule</ion-label>
      </ion-tab-button>
      <ion-tab-button class="img-thumb">
        <ion-avatar>
          <img src="./assets/images/header_logo.png">
        </ion-avatar>
        <ion-label style="color: #FFF;">Schedule</ion-label>
      </ion-tab-button>
      <ion-tab-button class="img-thumb">
        <ion-avatar>
          <img src="./assets/images/header_logo.png">
        </ion-avatar>
        <ion-label style="color: #FFF;">Schedule</ion-label>
      </ion-tab-button>
      <ion-tab-button class="img-thumb">
        <ion-avatar>
          <img src="./assets/images/header_logo.png">
        </ion-avatar>
        <ion-label style="color: #FFF;">Schedule</ion-label>
      </ion-tab-button>
    </div>
  </ion-list>
</ion-card>