<ion-header (click)="logout()">
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon size="large" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>登出</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card class="ion-text-center box-shadow">
                    <ion-avatar>
                        <img src="{{person_data.picture}}" alt="">
                    </ion-avatar>
                    <ion-card-content>
                        <h1 class="text-size-md text-color-primary font-bold">
                            {{person_data.lastname}} {{person_data.firstname}}</h1>
                        <!-- <p class="text-size-xs text-color-primary font-light">
                            {{person_data.company_name}}</p> -->
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-item color="primary" position="stacked">
            <ion-label  slot="start">地址</ion-label>
            <ion-button slot="end" shape="full" (click)="open_add_address_modal()">添加新</ion-button>
        </ion-item>
        <ion-item button *ngFor="let address of customer_addresses" (click)="open_edit_address_modal(address)">
            <ion-label style="margin-bottom:5px;" color="primary" position="stacked">{{address.company}}</ion-label>
            <ion-thumbnail slot="start">
                <ion-img src="./assets/images/home.png"></ion-img>
            </ion-thumbnail>
            <ion-input readonly>{{address.address_ch}}</ion-input>
            <ion-thumbnail slot="end">
                <ion-img src="./assets/images/edit_2.png"></ion-img>
            </ion-thumbnail>
        </ion-item>
    </ion-card>

    <ion-list>
        <ion-item>
            <ion-label color="primary" position="stacked">電子郵件</ion-label>
            <ion-input readonly>{{person_data.email}}</ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="stacked">電話</ion-label>
            <ion-input readonly>{{person_data.company_phone}}</ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="stacked">最上一次登入時間</ion-label>
            <ion-input readonly>{{person_data.lasttime_login?.create_date}}</ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="stacked">最上一次登出時間</ion-label>
            <ion-input readonly>{{person_data.lasttime_login?.end_date}}</ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="stacked">語言</ion-label>
            <ion-thumbnail slot="start">
                <ion-img src="{{this.config.img_url + person_data.language_image}}"></ion-img>
            </ion-thumbnail>
            <ion-input readonly>{{person_data.language_name}}</ion-input>
        </ion-item>
    </ion-list>

    <!-- <ion-list>
        <ion-list-header style="width:100%;background:#1E90FF;color: #FFF;">
          <ion-label padding-start>師父簽名</ion-label>
          <ion-button color="dark" (click)="open_signature()">
            <ion-icon ios="ios-brush" md="md-brush"></ion-icon>
            簽署
          </ion-button>
        </ion-list-header>
        <ion-card style="min-width:100px;min-height: 150px;">
          <ion-card-content *ngIf="person_data.user_signature">
              <img [src]="person_data.user_signature" >
          </ion-card-content>
        </ion-card>
      </ion-list> -->

</ion-content>