<ion-header>
  <ion-toolbar>
    <ion-item >
      <ion-thumbnail slot="start" style="padding: 10px;">
        <img src="{{config.img_url+original_image}}">
      </ion-thumbnail>
      <ion-label>abc</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-card style="background-color: #f5f6f9" *ngFor=" let att of attribute">
      <ion-item button>
        <ion-thumbnail slot="start" style="padding: 10px;">
          <img src="{{config.img_url+att.image}}">
        </ion-thumbnail>
        <ion-label>{{att.product_attribute_name}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card style="background-color: #f5f6f9" *ngFor=" let att of attribute">
      <ion-item button>
        <ion-thumbnail slot="start" style="padding: 10px;">
          <img src="{{config.img_url+att.image}}">
        </ion-thumbnail>
        <ion-label>{{att.product_attribute_name}}</ion-label>
      </ion-item>
    </ion-card>
     <ion-card style="background-color: #f5f6f9" *ngFor=" let att of attribute">
      <ion-item button>
        <ion-thumbnail slot="start" style="padding: 10px;">
          <img src="{{config.img_url+att.image}}">
        </ion-thumbnail>
        <ion-label>{{att.product_attribute_name}}</ion-label>
      </ion-item>
    </ion-card>
    <!-- <ion-button  (click)="closeModal()">
      Open Modal (Bottom)
      <ion-icon mode="ios" name="arrow-forward"></ion-icon>
    </ion-button> -->
  </ion-list>
</ion-content>

<ion-footer>
  <section>
    <ion-button shape="round" expand="block">A block button</ion-button>
  </section>
</ion-footer>