<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-thumbnail slot="start" style="padding: 10px;">
        <img src="{{config.img_url+original_image}}">
      </ion-thumbnail>
      <ion-label>abc</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-list>
          <ion-card *ngFor="let att of attribute; let i = index" (click)="onItemClick(i,att)">
            <ion-item no-lines color="{{current_selected == i ? 'secondary' : ''}}">
              <ion-thumbnail slot="start" style="padding: 10px;">
                <img src="{{config.img_url+att.image}}">
              </ion-thumbnail>
              <ion-label>
                <!-- Content Title -->
                <!-- <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">{{att.product_attribute_name}}</h2> -->
                <!-- <h3 class="text-size-xs text-color-primary font-light ion-text-wrap">{{att.product_attribute_name}}</h3>
                <p class="text-size-xs text-color-primary font-bold ion-text-wrap">{{att.product_attribute_name}}</p> -->
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item style="float:right">
    <!-- <ion-button size="small" fill="clear">數量:</ion-button> -->
    <ion-button size="small" fill="outline" (click)="qunatityMinus()">
      <p>-</p>
    </ion-button>
    <ion-button size="small" fill="clear">
      <p>{{qty}}</p>
    </ion-button>
    <ion-button size="small" fill="outline" (click)="qunatityPlus()">
      <p>+</p>
    </ion-button>
  </ion-item>

</ion-content>

<ion-footer>
  <section>
    <ion-button shape="round" expand="block" (click)="addCart()">A block button</ion-button>
  </section>
</ion-footer>